* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: #3aafa9;
}

/*HEADER */
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  margin-right: 5px;
  background: #17252a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar-btns {
  display: flex;
  justify-content: space-evenly;
  margin-right: 1%;
}

.logo {
  font-size: 25px;
  color: #feffff;
  text-decoration: none;
  font-weight: 600;
  margin-left: 5%;
}
.logo:hover {
  color: #1a857f;
}

.navbar-btns bottom {
  font-size: 20px;
  color: #feffff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 20PX;
}
.navbar-btns bottom:hover {
  color: #1a857f;
  text-decoration: underline;
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .header {
    width: 100%;
  }
  .header,
  .navbar-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}
/* Tablet */
@media only screen and (max-width: 900px) and (min-width: 601px) {
  .header,
  .navbar-btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
  }
}
/* HOME */
.section__container {
  width: 100%;
  margin-left: 60px;
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  margin-top: 0;
}

.content {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: #def2f1;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: #def2f1;
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: #def2f1;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  width: 130px;
  height: 40px;
  border: 1px solid #3aafa9;
  border-radius: 10px;
  background: #def2f1;
  background: #def2f1;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  cursor: pointer;
  text-decoration: none;
}
.action__btns button:hover {
  transform: translateY(-3px);
  color: #def2f1;
  background: #17252a;
}

.downloadCV {
  color: #3aafa9;
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(25rem, 90%);
  border-radius: 100%;
}

@media only screen and (max-width: 600px) {
  .section__container {
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
  }
  .image {
    grid-area: 1/1/2/2;
    justify-content: center;
    align-items: center;
  }
  .action__btns {
    margin: auto;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .section__container {
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
  }
  .image {
    grid-area: 1/1/2/2;
    justify-content: center;
    align-items: center;
  }
  .action__btns {
    margin: auto;
  }
}
/* EDUCATION */
.afterw {
  margin-top: 50px;
}

.titlehead {
  color: #feffff;
  font-size: 300%;
  width: 100%;
  vertical-align: middle;
  text-shadow: 4px 4px 2px rgba(23, 37, 42, 0.5019607843);
  text-align: center;
}

.edu-timeline {
  position: relative;
  width: 100%;
  margin: 50px auto;
}

.edu-container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 3s linear forwards;
  opacity: 0;
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.edu-container:nth-child(1) {
  animation-delay: 0s;
}

.edu-container:nth-child(2) {
  animation-delay: 1s;
}

.edu-container:nth-child(3) {
  animation-delay: 2s;
}

.tex-box {
  padding: 20px 20px;
  background-color: #def2f1;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

.left-container {
  left: 0;
  padding-left: 200px;
}

.rigth-container {
  left: 50%;
  padding-right: 200px;
}

.edu-container img {
  position: absolute;
  width: 40px;
  border-radius: 6px;
  right: -20px;
  top: 32px;
  z-index: 10;
}

.rigth-container img {
  left: -20px;
}

.edu-timeline::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background: #def2f1;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 3s linear forwards;
}
@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.tex-box h2 {
  font-weight: 600;
  margin-bottom: 5px;
  color: #17252a;
}

.tex-box small {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 15px;
  color: #17252a;
}

.tex-box h4 {
  font-size: 15px;
  font-weight: 200;
  line-height: 1.3;
  color: #17252a;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #def2f1;
  right: -15px;
}

.rigth-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #def2f1;
  left: -15px;
}

/* MOBILE */
@media only screen and (max-width: 600px) {
  .titlehead {
    text-align: center;
    margin: 20px;
  }
  .edu-timeline {
    margin: 50px auto;
  }
  .edu-timeline::after {
    left: 31px;
  }
  .edu-container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
  .text-box {
    font-size: 13px;
  }
  .tex-box small {
    margin-bottom: 10px;
  }
  .rigth-container {
    left: 0;
  }
  .left-container img, .rigth-container img {
    left: 10px;
  }
  .left-container-arrow, .rigth-container-arrow {
    border-right: 15px solid #def2f1;
    border-left: 0;
    left: -15px;
  }
}
/* MOBILE */
@media only screen and (max-width: 600px) {
  .titlehead {
    text-align: center;
    margin: 20px;
  }
  .edu-timeline {
    margin: 50px auto;
  }
  .edu-timeline::after {
    left: 31px;
  }
  .edu-container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
  .text-box {
    font-size: 13px;
  }
  .tex-box small {
    margin-bottom: 10px;
  }
  .rigth-container {
    left: 0;
  }
  .left-container img, .rigth-container img {
    left: 10px;
  }
  .left-container-arrow, .rigth-container-arrow {
    border-right: 15px solid #def2f1;
    border-left: 0;
    left: -15px;
  }
}
/* TABLET */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .titlehead {
    text-align: center;
    margin: 20px;
  }
  .edu-timeline {
    margin: 50px auto;
  }
  .edu-timeline::after {
    left: 160px;
  }
  .edu-container {
    width: 90%;
    padding-left: 220px;
    padding-right: 80px;
  }
  .text-box {
    font-size: 13px;
  }
  .tex-box small {
    margin-bottom: 10px;
  }
  .left-container {
    right: 100px;
  }
  .rigth-container {
    left: 0;
  }
  .left-container img, .rigth-container img {
    left: 140px;
  }
  .left-container-arrow, .rigth-container-arrow {
    border-right: 15px solid #def2f1;
    border-left: 0;
    left: -15px;
  }
}
/* EXPIRIANCE */
.exp-timeline {
  position: relative;
  width: 100%;
  margin: 50px auto;
}

.exp-container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 2s linear forwards;
  opacity: 0;
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.exp-container:nth-child(1) {
  animation-delay: 0s;
}

.exp-container:nth-child(2) {
  animation-delay: 1s;
}

.experiance-text-box {
  padding: 20px 20px;
  background: #def2f1;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

.exp-left-container {
  left: 0;
  padding-left: 200px;
}

.exp-rigth-container {
  left: 50%;
  padding-right: 200px;
}

.exp-container img {
  position: absolute;
  width: 40px;
  border-radius: 6px;
  right: -20px;
  top: 32px;
  z-index: 10;
}

.exp-rigth-container img {
  left: -20px;
}

.exp-timeline::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background: #def2f1;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 2s linear forwards;
}
@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.experiance-text-box h2 {
  font-weight: 600;
  margin-bottom: 5px;
  color: #17252a;
}

.experiance-text-box small {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 15px;
  color: #17252a;
}

.experiance-text-box h4 {
  font-size: 15px;
  font-weight: 200;
  line-height: 1.3;
  color: #17252a;
}

.exp-left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #def2f1;
  right: -15px;
}

.exp-rigth-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #def2f1;
  left: -15px;
}

@media only screen and (max-width: 600px) {
  .titlehead {
    text-align: center;
    margin: 20px;
  }
  .exp-timeline {
    margin: 50px auto;
  }
  .exp-timeline::after {
    left: 31px;
  }
  .exp-container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
  .experiance-text-box {
    font-size: 13px;
  }
  .experiance-text-box small {
    margin-bottom: 10px;
  }
  .exp-rigth-container {
    left: 0;
  }
  .exp-left-container img, .exp-rigth-container img {
    left: 10px;
  }
  .exp-left-container-arrow, .exp-rigth-container-arrow {
    border-right: 15px solid #def2f1;
    border-left: 0;
    left: -15px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .titlehead {
    text-align: center;
    margin: 20px;
  }
  .exp-timeline {
    margin: 50px auto;
  }
  .exp-timeline::after {
    left: 31px;
  }
  .exp-container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
  .experiance-text-box {
    font-size: 13px;
  }
  .experiance-text-box small {
    margin-bottom: 10px;
  }
  .exp-rigth-container {
    left: 0;
  }
  .exp-left-container img, .exp-rigth-container img {
    left: 10px;
  }
  .exp-left-container-arrow, .exp-rigth-container-arrow {
    border-right: 15px solid #def2f1;
    border-left: 0;
    left: -15px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .titlehead {
    text-align: center;
    margin: 20px;
  }
  .exp-timeline {
    margin: 50px auto;
  }
  .exp-timeline::after {
    left: 160px;
  }
  .exp-container {
    width: 85%;
    padding-left: 220px;
    padding-right: 25px;
  }
  .experiance-text-box {
    font-size: 13px;
  }
  .experiance-text-box small {
    margin-bottom: 10px;
  }
  .exp-rigth-container {
    left: 0;
  }
  .exp-left-container img, .exp-rigth-container img {
    left: 140px;
  }
  .exp-left-container-arrow, .exp-rigth-container-arrow {
    border-right: 15px solid #def2f1;
    border-left: 0;
    left: -15px;
  }
}
/* PROJECTS */
.card-projects-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 40px;
}

.project-card {
  width: 325px;
  margin: 20px;
  background: #def2f1;
  border-radius: 6px;
  box-shadow: 0px, 1px, 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
.project-card:hover {
  box-shadow: 5px, 5px, 20px, rgba(0, 0, 0, 0.2);
  transform: translateY(-3%);
}

.pic {
  width: 280px;
  height: 200px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.card-content {
  padding: 20px;
}
.card-content h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.card-content p {
  line-height: 1.3;
  margin: 0;
  font-size: medium;
  margin-bottom: 10px;
}

.card-content a {
  text-decoration: none;
  display: flex;
  margin-top: 10px;
  color: #3aafa9;
}

.bottom-card {
  display: flex;
  margin: 0 0;
  width: 130px;
  height: 40px;
  text-align: center;
  justify-content: center;
  background: #def2f1;
  border: 1px solid #3aafa9;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  font-weight: bold;
}
.bottom-card:hover {
  color: #def2f1;
  background: #3aafa9;
}
.bottom-card:hover a {
  color: #def2f1;
}

@media only screen and (max-width: 600px) {
  .titlehead {
    margin: 15px;
  }
  .card-projects-container {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
}
/* SKILLS */
.card-skills-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 40px;
}

.skill-card {
  width: 150px;
  margin: 2Opx;
  justify-content: center;
  align-items: center;
  background: #def2f1;
  border-radius: 6px;
  box-shadow: 0px, 1px, 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
  text-align: center;
}
.skill-card:hover {
  box-shadow: 5px, 5px, 20px, rgba(0, 0, 0, 0.2);
  transform: translateY(-3%);
  background: #17252a;
}
.skill-card:hover h3 {
  color: #def2f1;
}

.skill-content {
  padding: 20px;
}
.skill-content h3 {
  margin-top: 10px;
  color: #17252a;
}

.skill-logo {
  width: 100px;
  height: 80px;
}

/* HOBBIES */
.card-hobby-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 40px;
}

.hobby-card {
  width: 230px;
  height: 230px;
  margin: 5px;
  background: #def2f1;
  border-radius: 6px;
  box-shadow: 0px, 1px, 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
.hobby-card:hover {
  box-shadow: 5px, 5px, 20px, rgba(0, 0, 0, 0.2);
  transform: translateY(-3%);
}

.hobby-picture {
  width: 230px;
  height: 230px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.hobby-content {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}

.hobby-content:hover {
  opacity: 1;
}

.hobby-content h2 {
  font-size: 55px;
  color: #def2f1;
  margin-bottom: 15px;
}/*# sourceMappingURL=index.css.map */