* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: #D9DDEA;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  margin-right: 5px;
  background: #ADA5BB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  margin-right: 1%;
}

.logo {
  font-size: 25px;
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.navbar a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-left: 20PX;
}
.navbar a:hover {
  color: #1a857f;
  text-decoration: underline;
}

.home {
  position: relative;
  width: 85%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 20px;
}
.home img {
  position: absolute;
  top: 10%;
  right: 20px;
  width: 450px;
  box-sizing: border-box;
  border-radius: 15px 15px 15px 15px;
  background-position: center center;
}

.home-content {
  margin-top: 20%;
  max-width: 700px;
  color: black;
}

h1 {
  font-size: 50px;
  font-weight: 600;
  margin: 10px 40px;
}

p {
  font-size: 25px;
  margin: 10px 40px;
}

.home-content .bottom-box {
  display: flex;
  justify-content: space-between;
  width: 800px;
  height: 90px;
}

.bottom-box a {
  margin: 10px 40px;
  width: 150px;
  height: 40px;
  background: #ADA5BB;
  border-radius: 20px;
  box-shadow: 0 0 10px #ADA5BB;
  font-size: 14px;
  color: black;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}

/* experiance */
.afterw {
  margin-top: 50px;
}

.titlehead {
  color: black;
  font-size: 300%;
  width: 100%;
  vertical-align: middle;
  text-shadow: 4px 4px 2px gray;
  text-align: center;
}

.edu-timeline {
  position: relative;
  width: 100%;
  margin: 50px auto;
}

.edu-container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 3s linear forwards;
  opacity: 0;
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.edu-container:nth-child(1) {
  animation-delay: 0s;
}

.edu-container:nth-child(2) {
  animation-delay: 1s;
}

.edu-container:nth-child(3) {
  animation-delay: 2s;
}

.tex-box {
  padding: 20px 20px;
  background-color: #ADA5BB;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

.left-container {
  left: 0;
  padding-left: 200px;
}

.rigth-container {
  left: 50%;
  padding-right: 200px;
}

.edu-container img {
  position: absolute;
  width: 40px;
  border-radius: 6px;
  right: -20px;
  top: 32px;
  z-index: 10;
}

.rigth-container img {
  left: -20px;
}

.edu-timeline::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background: black;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 3s linear forwards;
}
@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.tex-box h2 {
  font-weight: 600;
  margin-bottom: 5px;
}

.tex-box small {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 15px;
}

.tex-box h4 {
  font-size: 15px;
  font-weight: 200;
}

.exp-left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #ADA5BB;
  right: -15px;
}

.exp-rigth-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #ADA5BB;
  left: -15px;
}

@media only screen and (max-width: 600px) {
  .edu-timeline {
    margin: 50px 60px;
  }
  .edu-timeline::after {
    left: 31px;
  }
  .edu-container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
  .text-box {
    font-size: 13px;
  }
  .tex-box small {
    margin-bottom: 10px;
  }
  .rigth-container {
    left: 0;
  }
  .left-container img, .rigth-container img {
    left: 10px;
  }
  .left-container-arrow, .rigth-container-arrow {
    border-right: 15px solid #ADA5BB;
    border-left: 0;
    left: -15px;
  }
}
/* experiance */
.exp-timeline {
  position: relative;
  width: 100%;
  margin: 50px auto;
}

.exp-container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 2s linear forwards;
  opacity: 0;
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.exp-container:nth-child(1) {
  animation-delay: 0s;
}

.exp-container:nth-child(2) {
  animation-delay: 1s;
}

.experiance-text-box {
  padding: 20px 20px;
  background: #ADA5BB;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

.exp-left-container {
  left: 0;
  padding-left: 200px;
}

.exp-rigth-container {
  left: 50%;
  padding-right: 200px;
}

.exp-container img {
  position: absolute;
  width: 40px;
  border-radius: 6px;
  right: -20px;
  top: 32px;
  z-index: 10;
}

.exp-rigth-container img {
  left: -20px;
}

.exp-timeline::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background: black;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 2s linear forwards;
}
@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.experiance-text-box h2 {
  font-weight: 600;
  margin-bottom: 5px;
}

.experiance-text-box small {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 15px;
}

.experiance-text-box h4 {
  font-size: 15px;
  font-weight: 200;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #ADA5BB;
  right: -15px;
}

.rigth-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #ADA5BB;
  left: -15px;
}

@media only screen and (max-width: 600px) {
  .exp-timeline {
    margin: 50px 60px;
  }
  .exp-timeline::after {
    left: 31px;
  }
  .exp-container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
  .experiance-text-box {
    font-size: 13px;
  }
  .experiance-text-box small {
    margin-bottom: 10px;
  }
  .exp-rigth-container {
    left: 0;
  }
  .exp-left-container img, .exp-rigth-container img {
    left: 10px;
  }
  .exp-left-container-arrow, .exp-rigth-container-arrow {
    border-right: 15px solid #ADA5BB;
    border-left: 0;
    left: -15px;
  }
}
@media only screen and (max-width: 600px) {
  .exp-timeline {
    margin: 50px 60px;
  }
  .exp-timeline::after {
    left: 31px;
  }
  .exp-container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
  .experiance-text-box {
    font-size: 13px;
  }
  .experiance-text-box small {
    margin-bottom: 10px;
  }
  .exp-rigth-container {
    left: 0;
  }
  .exp-left-container img, .exp-rigth-container img {
    left: 10px;
  }
  .exp-left-container-arrow, .exp-rigth-container-arrow {
    border-right: 15px solid #ADA5BB;
    border-left: 0;
    left: -15px;
  }
}/*# sourceMappingURL=index.css.map */